.app-store-bg-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  background-size: cover;
  min-height: 120vh;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app-store-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bree Serif';
  height: 100%;
}

.app-store-header {
  color: #1e293b;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.app-store-search-container {
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  border: 0.1rem solid #7b8794;
  padding: 0.5rem 0.2rem;
  color: #7b8794;
  /* margin-bottom: 1rem; */
  /* width: 100%; */
}

.app-store-search-input {
  border: none;
  background: inherit;
  font-size: 1rem;
  flex-grow: 1;
  outline: none;
  padding-left: 1rem;
}

.app-store-search-icon-img {
  height: 1.5rem;
  width: 1.5rem;
}

.app-store-tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.app-store-apps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* height: 100%; */
}

.app-store-tabs-container,
.app-store-apps-container {
  list-style-type: none;
  padding-left: 0;
}

@media (min-width: 768px) {
  .app-store-header {
    font-size: 3rem;
  }

  .app-store-search-container {
    width: 35vw;
  }

  .app-store-apps-container {
    width: 50vw;
  }
}
