.tab-item {
  color: #7b8794;
  border: none;
  border-bottom: 0.1rem solid #dfe2e5;
  padding: 0.5rem;
  font-size: 1rem;
}

.selected-tab-item {
  color: #2563eb;
  border-bottom-color: #2563eb;
}

.tab-item-button {
  background: inherit;
  border: none;
  outline: none;
}

.tab-item,
.tab-item-button {
  cursor: pointer;
}
