.tab-item {
  color: #7b8794;
  border: none;
  border-bottom: 0.15rem solid #7b8794;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.selected-tab-item {
  color: #2563eb;
  border-bottom-color: #2563eb;
  justify-content: flex-start;
}

.tab-item-button {
  background: inherit;
  border: none;
  outline: none;
  color: inherit;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  /* padding: 0; */
}

/* .selected-tab-item-button {
  margin-bottom: 0.3rem;
} */

.tab-item,
.tab-item-button {
  cursor: pointer;
}

@media (min-width: 768px) {
  .tab-item {
    padding: 0.5rem 0.7rem;
  }
  .tab-item-button {
    font-size: 1.2rem;
  }
}
